body {
  color: #201e1f;
  background-color: #c9cfcf;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Dancing Script", cursive;
}

a {
  color: #067474 !important;
  font-family: "Playfair Display";
  font-style: italic;
}
a:hover {
  color: #ccb7c4 !important;
}

.accent {
  background-color: #067474;
}

.text-accent {
  color: #067474;
}

.sticky {
  position: sticky;
}
